<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
    <aside id="tg-sidebar" class="tg-sidebar">
        <div class="tg-widget tg-widgetsearchcourse">
            <div class="tg-widgettitle">
                <h3>Search</h3>
            </div>
            <div class="tg-widgetcontent">
                <form class="tg-formtheme tg-formsearchcourse">
                    <fieldset>
                        <div class="tg-inputwithicon">
                            <i class="icon-book"></i>
                            <input type="search" name="keyword" class="form-control" placeholder="Keyword">
                        </div>
                        <button type="submit" class="tg-btn">search now</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="tg-widget tg-widgetcoursecategories">
            <div class="tg-widgettitle">
                <h3>Categories</h3>
            </div>
            <div class="tg-widgetcontent">
                <ul>
                    <li>
                        <a href="">
                            <span>All</span>
                            <span>(212345)</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Science</span>
                            <span>(3248)</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Management</span>
                            <span>(2148)</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Medical</span>
                            <span>(2143)</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Arts</span>
                            <span>(21561)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tg-widget tg-widgetlatestcourses">
            <div class="tg-widgettitle">
                <h3>Latest news</h3>
            </div>
            <div class="tg-widgetcontent">
                <article class="tg-campus tg-campusleftthumb">
                    <figure class="tg-featuredimg">
                        <a href="">
                            <img src="{{'assets/images/courses/img-01.jpg'|theme}}" alt="image description">
                        </a>
                    </figure>
                    <div class="tg-campuscontent">
                        <div class="tg-datetime">
                            <i class="fa fa-calendar"></i>
                            <span>Friday, Mar 06, 2017</span>
                        </div>
                        <div class="tg-campustitle">
                            <h3><a href="">International Conference on Material Science 2017</a></h3>
                        </div>
                    </div>
                </article>
                <article class="tg-campus tg-campusleftthumb">
                    <figure class="tg-featuredimg">
                        <a href="">
                            <img src="{{'assets/images/courses/img-02.jpg'|theme}}" alt="image description">
                        </a>
                    </figure>
                    <div class="tg-campuscontent">
                        <div class="tg-datetime">
                            <i class="fa fa-calendar"></i>
                            <span>Friday, Mar 06, 2017</span>
                        </div>
                        <div class="tg-campustitle">
                            <h3><a href="">Biggest Reality Virtual University Convocatio Biggest Reality Virtual University</a></h3>
                        </div>
                    </div>
                </article>
                <article class="tg-campus tg-campusleftthumb">
                    <figure class="tg-featuredimg">
                        <a href="">
                            <img src="{{'assets/images/courses/img-03.jpg'|theme}}" alt="image description">
                        </a>
                    </figure>
                    <div class="tg-campuscontent">
                        <div class="tg-datetime">
                            <i class="fa fa-calendar"></i>
                            <span>Friday, Mar 06, 2017</span>
                        </div>
                        <div class="tg-campustitle">
                            <h3><a href="">Launching Best Concept Motorbike for Abnormal Best Concept Motorbike</a></h3>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </aside>
</div>